<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Welcome to PHOTO STUFF</title>
      <link rel="stylesheet" href="./css/comp.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
.hi{
   background-color:powderblue;
}
   </style>
   </head>
   <body>
      <nav>
         <div class="logo">
            
               <tr><td>Hello </td><td><%= name %></td><td>!</td></td></tr>
               
         </div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
            <li><a href="/profile"><span class="material-icons">home</span>Home</a></li>
            <li><a href="/home"><span class="material-icons">camera_rear</span>Camera</a></li>
            <li><a href="/imagesPage"><span class="material-icons">upload</span>Upload Photo</a></li>
             <li><a href="/logout"><span class="material-icons">logout</span>Logout</a></li>
         </ul>
      </nav>
      <div class="hi"></br></br>
         <center><h1>Welcome to Photo Stuff</h1></center></br></br></br>
         <center><h3>The main aim of this application is used to provide user friendly interfaces and 
simple web applicationThe user has to register first with his/her email & password,and the user should login ,even we have the option of forget password where the user can re-generate thire password then they will be going to home page for  capture images. after capture the images he can upload them The main purpose of this project is the user can capture images and that will stored in database server and it can be easily accessed 
only by particular user at any time and anywhere</h3></center>
      </div>

      <footer>
        
         <div>frontend:  Lohit & Brunda<br>
            <a href="lohit@gmail.com">bigb@gmail.com</a></div>
            <div>frontend Design:  Biswa & Lohit<br>
               <a href="brunda@gmail.com">bigb@gmail.com</a></div>
            <div>backend:  Biswa<br>
               <a href="manjunath@gmail.com">bigb@gmail.com</a></div>
               <div>DB Design: Banoj & Harshita<br>
                  <a href="lohit@gmail.com">bigb@gmail.com</a></div>
       </footer>

   </body>
</html>